.btn{
	.fh!important;
	.border-radius(3px);
	position: relative;
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: @input-height;
	line-height: @input-height;
	font-size: 17px;
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	text-transform: uppercase;
	color: #fff;
	outline: none;
	text-align: center;
	background: @c3;
	&:before, &:after{
		.border-radius(50%);
		content: '';
		position: absolute;
		top: 8px;
		bottom: 8px;
		left: -3px;
		width: 10px;
		background: @c3;
	}
	&:after{
		left: auto;
		right: -3px;
	}
	&:hover{
		background: @c4;
		&:before, &:after{
			background: @c4;
		}
	}
}
.fileinputs {
	&:hover{
		input[type="button"] {
			background: @c4;
		}
	}
}