// fonts
.fp {font-family: 'Source Sans Pro', sans-serif;} // font primary
.fh {font-family: 'Exo 2', sans-serif;} // font header
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #000;
@c2: #ff6138;
@c3: #007a66;
@c4: #00a388;
@c5: #79bd8f;
@c6: #beeb9f;
@c7: #ffff9d;
@c8: #00bd3d;
@cp: @c1; // color primary
@cl: @c2; // color link

.text-green {
	color: @c8;
}
.text-red {
	color: red;
}

// font sizes
@fsp: 16px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// form
@input-size: 16px;
@input-height: 42px;
@input-padding: 15px;
@input-border: #ccc;
@input-bg: #fff;

// layout
@content-width: 1540px;
@content-width-ud: 1160px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 20px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1560px)";
@ud: ~"(min-width: 1200px) and (max-width: 1559px)";
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";
@xxs: ~"(max-width: 479px)";