#nav-top {
	position: relative;
	background: @c6;
}
#page-header {
	position: relative;
	background: @c7;
	.logo {
		float: left;
		width: 277px;
		margin: 32px 0 30px;
		@media @ud {
			margin-top: 65px;
		}
		@media @md {
			margin-top: 20px;
			margin-bottom: 15px;
		}
		@media @sm, @xs {
			float: none;
			margin: 30px auto;
		}
		a {
			img {
				display: block;
			}
		}
	}
}
#col-main {
	padding: 66px 0;
	position: relative;
	float: right;
	width: 1120px;
	@media @ud {
		width: 800px;
	}
	@media @md, @sm, @xs {
		width: auto;
		float: none;
		padding: 20px 0;
	}
}
#col-left {
	.clearfix;
	padding: 66px 0;
	position: relative;
	float: left;
	width: 350px;
	@media @ud {
		width: 280px;
	}
	@media @md, @sm, @xs {
		width: auto;
		float: none;
		padding: 40px 0 0;
	}
}
#col-bottom {
	position: relative;
	padding: 35px 0 45px;
	background: @c5;
	.container {
		position: static;
	}
}
#page-footer {
	position: relative;
	background: @c7;
	padding: 25px 0;
	.copy {
		text-align: center;
		font-size: 14px;
	}
	.xart {
		text-align: center;
		text-transform: uppercase;
		font-size: 12px;
		a {
			text-decoration: none;
			color: @c3;
			&:hover{
				color: @c2;
			}
		}
		img {
			display: block;
			margin: 10px auto;
		}
	}
}
.mod_menu-top {
	@media @sm, @xs {
		text-align: center;
	}
	ul {
		.rul;
		.clearfix;
		margin: 0 -15px;
		li {
			.rli;
			display: inline-block;
			&:before{
				height: 12px;
				width: 1px;
				left: 100%;
				bottom: 0;
				top: auto;
				background: @c7;
			}
			&:last-child {
				&:before{
					display: none;
				}
			}
			a {
				display: block;
				padding: 9px 21px 8px;
				color: @c1;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_custom-quickcontact {
	.border-radius(6px 6px 0 0);
	position: relative;
	top: -19px;
	float: right;
	margin: 0 0 -10px;
	padding: 10px 16px 5px;
	color: @c3;
	background: @c7;
	@media @sm, @xs {
		top: 0;
		float: none;
		text-align: center;
		margin: 0 0 30px;
	}
	.mail, .phone {
		position: relative;
		display: inline-block;
		vertical-align: bottom;
		padding: 0 0 0 30px;
		font-size: 18px;
		&:before{
			.fi;
			content: '\e808';
			position: absolute;
			top: 50%;
			left: 0;
			font-size: 22px;
			line-height: 1;
			margin: -11px 0 0;
			color: @c2;
		}
		a {
			color: @c3;
		}
	}
	.mail {
		margin: 0 14px 0 10px;
	}
	.phone {
		.fh;
		font-size: 16px;
		&:before{
			content: '\e809';
			font-size: 25px;
		}
		mark {
			font-size: 21px;
			color: @c3;
			margin: 0 12px 0 0;
		}
	}
}
.mod_menu-login {
	.border-radius(6px 6px 0 0);
	position: relative;
	z-index: 1;
	top: -19px;
	float: right;
	margin: 0 0 -10px 20px;
	padding: 16px 16px 6px;
	min-width: 360px;
	text-align: right;
	background: @c7;
	@media @sm, @xs {
		float: none;
		min-width: 0;
		top: 0;
		text-align: center;
		margin: 0 0 10px
	}
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			margin: 0 12px;
			a {
				position: relative;
				display: inline-block;
				text-decoration: none;
				color: @c1;
				padding: 0 30px 0 0;
				&:hover{
					text-decoration: underline;
					&:before{
						text-decoration: none;
					}
				}
				&:before{
					position: absolute;
					display: inline-block;
					right: 0;
					top: 50%;
					font-size: 22px;
					line-height: 1;
					margin: -12px 0 0;
				}
			}
		}
	}
}
.mod_search {
	.clearfix;
	clear: right;
	float: left;
	width: 640px;
	margin: 0 0 28px 100px;
	@media @ud {
		width: 350px;
		margin-left: 50px;
	}
	@media @md {
		clear: left;
		margin-left: 0;
		width: 440px;
	}
	@media @sm {
		width: 260px;
		margin-left: 0;
	}
	@media @xs {
		margin: 0 76px 30px 0;
		width: auto;
		float: none;
	}
	[type="text"], [type="search"] {
		.border-radius(6px);
		position: relative;
		border-color: transparent;
		z-index: 1;
		float: left;
		height: 60px;
		padding: 0 30px;
		font-size: 18px;
		&:hover, &:focus{
			border-color: @c3;
		}
	}
	button {
		.border-radius(0 6px 6px 0);
		width: 90px;
		padding: 0 0 0 16px;
		font-size: 0;
		float: left;
		margin: 0 0 0 -90px;
		left: 76px;
		height: 60px;
		line-height: 60px;
		&:before{
			.fi;
			.border-radius(0);
			content: '\e80c';
			position: static;
			background: none;
			font-size: 28px;
		}
		&:after{
			display: none;
		}
	}
}
.mod_custom-basket {
	float: right;
	width: 307px;
	margin: 0 24px 28px 76px;
	@media @xs {
		float: none;
		margin: 0 auto 30px;
	}
	@media @xxs {
		width: 100%;
	}
	a {
		.border-radius(4px);
		position: relative;
		display: block;
		height: 60px;
		line-height: 1;
		padding: 0 0 0 65px;
		text-decoration: none;
		color: #fff;
		background: @c3;
		&:before, &:after{
			.border-radius(50%);
			content: '';
			position: absolute;
			top: 14px;
			bottom: 14px;
			left: -4px;
			width: 10px;
			background: @c3;
		}
		&:after{
			left: auto;
			right: -4px;
			background: @c4;
		}
		&:hover{
			background: @c4;
			&:before{
				background: @c4;
			}
			&:after{
				background: @c3;
			}
			span {
				background: @c3;
				&:after{
					background: @c3;
				}
			}
		}
		span {
			.border-radius(4px);
			display: block;
			height: 60px;
			padding: 12px 150px 0 28px;
			background: @c4;
			&:before{
				.fi;
				content: '\e80d';
				position: absolute;
				left: 0;
				top: 0;
				line-height: 60px;
				font-size: 30px;
				width: 65px;
				text-align: center;
				color: #fff;
			}
			&:after{
				.border-radius(50%);
				content: '';
				position: absolute;
				top: 14px;
				bottom: 14px;
				left: 60px;
				width: 10px;
				background: @c4;
			}
		}
		mark {
			.fh;
			position: absolute;
			top: 0;
			right: 0;
			width: 150px;
			text-align: center;
			line-height: 60px;
			font-weight: bold;
			font-size: 29px;
			color: #fff;
		}
	}
}
.mod_menu-main {
	@media @md {
		float: left;
		width: 760px;
		padding: 0 20px 0 0;
	}
	.tabs {
		.rul;
		.clearfix;
		margin: 0 0 25px;
		@media @md, @sm, @xs {
			margin: 0 0 10px;
		}
		li {
			.rli;
			float: left;
			width: 50%;
			a {
				.fh;
				display: block;
				text-decoration: none;
				color: @c3;
				font-size: 26px;
				padding: 12px 0 12px 43px;
				border-top: 8px solid transparent;
				@media @ud {
					font-size: 20px;
				}
				&:before{
					margin: 0;
					position: absolute;
					top: 50%;
					left: 0;
					line-height: 1;
					font-size: 22px;
					margin: -4px 0 0;
					text-align: center;
					width: 43px;
				}
			}
			&.cycle-pager-active {
				a {
					font-weight: 800;
					border-top-color: @c3;
				}
			}
		}
	}
	.panes {
		.pane {
			position: static!important;
			&.cycle-slide {
				display: none!important;
				&.cycle-slide-active {
					display: block!important;
				}
			}
			ul {
				.rul;
				margin: 0 0 25px;
				li {
					.rli;
					padding: 0 0 0 44px;
					margin: 0 0 23px;
					font-size: 18px;
					line-height: 1.1;
					@media @md, @sm, @xs {
						display: inline-block;
						font-size: 16px;
						padding: 0 0 0 32px;
						margin: 0 0 10px;
					}
					&:before{
						content: '\e815';
						font-size: 22px;
						left: 15px;
						top: -1px;
						color: @c3;
						display: inline-block;
						@media @md, @sm, @xs {
							font-size: 16px;
							top: 1px;
						}
					}
					a {
						text-decoration: none;
						color: @c3;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}
.mod_banners {
	#col-left & {
		margin: 0 47px 40px -12px;
		@media @ud {
			margin-right: 30px;
		}
		@media @md, @sm, @xs {
			margin: 0 0 20px;
		}
		@media @md {
			float: left;
			width: 160px;
		}
		ul {
			.rul;
			li {
				.rli;
				@media @md, @sm, @xs {
					display: inline-block;
					max-width: 160px;
				}
				a {
					img {
						display: block;
					}
				}
			}
		}
	}
	#col-main & {
		position: relative;
		float: right;
		width: 250px;
		top: -50px;
		margin: 0 5px -30px 30px;
		@media @xs {
			float: none;
			top: 0;
			margin: 0;
		}
		ul {
			.rul;
			li {
				.rli;
			}
		}
	}
}
.mod_custom-slideshow {
	position: relative;
	clear: both;
	padding: 0 0 42.7%;
	margin: 3px 0 40px;
	background: url(../images/bg/01.png) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	@media @sm, @xs {
		.border-radius(12px);
		background: none;
		padding: 20px 20px 50px;
		border: 2px solid @c6;
	}
	.items {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		@media @sm, @xs {
			position: relative;
		}
		.item {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 46px 97px;
			display: none;
			font-size: 20px;
			@media @ud, @md, @sm, @xs {
				font-size: 15px;
			}
			@media @sm, @xs {
				padding: 0;
			}
			&:nth-child(1) {
				display: block;
			}
			&.cycle-slide {
				figure {
					.transition(0.5s);
					left: 100px;
					&.video {
						a {
							&:before{
								.transition(0.3s);
								font-size: 0px;
							}
						}
					}
				}
				.content {
					.transition(0.5s);
					left: -140px;
				}
				h2 {
					.transition(0.8s);
					left: -140px;
				}
				nav {
					.transition(0.8s);
					left: 180px;
				}
				&.cycle-slide-active {
					figure {
						left: 0;
						&.video {
							a {
								&:before{
									font-size: 128px;
								}
							}
						}
					}
					.content, h2, nav {
						left: 0px;
					}
				}
			}
			figure {
				position: relative;
				z-index: 1;
				float: left;
				width: 63.5%;
				padding: 0 7.5% 0 0;
				@media @sm {
					width: 50%;
				}
				@media @xs {
					width: 100%;
					float: none;
					padding: 0;
					margin: 0 0 20px;
				}
				&.video {
					a {
						&:before{
							.fi;
							content: '\f144';
							position: absolute;
							top: 50%;
							left: 50%;
							width: 140px;
							line-height: 140px;
							margin: -70px 0 0 -70px;
							text-align: center;
							font-size: 128px;
							text-shadow: 0 1px 6px fade(#000,50);
						}
					}
				}
				a {
					position: relative;
					display: block;
					text-decoration: none;
					color: #fff;
					img {
						display: block;
						.border-radius(18px);
					}
				}
			}
			.content {
				position: relative;
				float: left;
				width: 36.5%;
				@media @sm {
					width: 50%;
				}
				@media @xs {
					width: auto;
					float: none;
					text-align: center;
				}
			}
			h2 {
				position: relative;
				font-size: 35px;
				line-height: 1.3;
				font-weight: bold;
				color: @c2;
				margin: 0 0 20px;
				@media @ud, @md, @sm, @xs {
					font-size: 18px;
				}
			}
			nav {
				position: relative;
				margin: 30px 0 0;
				a {
					.btn;
					.border-radius(6px);
					height: 60px;
					line-height: 60px;
					padding: 0 30px;
					font-size: 22px;
					&:before, &:after {
						display: none;
					}
					@media @ud, @md, @sm, @xs {
						height: 40px;
						line-height: 40px;
						font-size: 16px;
					}
				}
			}
		}
	}
	.pager {
		position: absolute;
		z-index: 101;
		bottom: 24px;
		left: 0;
		right: 0;
		text-align: center;
		@media @sm, @xs {
			bottom: 10px;
		}
		span {
			.border-radius(50%);
			display: inline-block;
			width: 14px;
			height: 14px;
			text-indent: -9999px;
			margin: 0 2px;
			border: 1px solid @c2;
			cursor: pointer;
			@media @sm, @xs {
				width: 20px;
				height: 20px;
			}
			&.cycle-pager-active {
				background: @c2;
			}
		}
	}
	.prev, .next {
		.fi;
		position: absolute;
		z-index: 101;
		top: 50%;
		left: 25px;
		font-size: 46px;
		line-height: 1;
		text-decoration: none;
		color: @c5;
		margin: -43px 0 0;
		@media @sm, @xs {
			display: none;
		}
		&:hover{
			color: @c2;
		}
		&:before{
			content: '\e814';
		}
	}
	.next {
		left: auto;
		right: 25px;
		&:before{
			content: '\e815';
		}
	}
}
.mod_custom-intro {
	position: relative;
	text-align: center;
	padding: 0 19% 37px;
	margin: 0 0 25px;
	line-height: 1.7;
	@media @ud {
		padding-left: 10%;
		padding-right: 10%;
	}
	@media @md, @sm, @xs {
		padding-left: 0;
		padding-right: 0;
	}
	&:before, &:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 90px;
		height: 8px;
		background: @c3;
		margin: 0 0 0 -87px;
		.rotate(15deg);
	}
	&:after{
		.rotate(-15deg);
		margin: 0 0 0 -3px;
	}
	.mod-title {
		.fh;
		font-size: 35px;
		line-height: 1.1;
		font-weight: bold;
		color: @c3;
		margin: 0 0 23px;
		@media @ud {
			font-size: 26px;
		}
	}
}
.eshop-items {
	margin: 0 -10px;
	.item {
		.clearfix;
		display: inline-block;
		vertical-align: top;
		width: 25%;
		padding: 0 30px;
		margin: 40px -4px 50px 0;
		@media @ud, @md, @xs {
			padding: 0 10px;
		}
		@media @sm {
			width: 50%;
		}
		@media @xs {
			width: 50%;
		}
		@media @xxs {
			width: 100%;
		}
		#col-main & {
			width: 33.3333%;
			@media @sm {
				padding: 0 10px;
			}
			@media @xs {
				width: 50%;
			}
			@media @xxs {
				width: 100%;
			}
		}
		a {
			color: @c1;
			text-decoration: none;
		}
		figure {
			position: relative;
			margin: 0 0 20px;
			a {
				img {
					display: block;
				}
			}
			.labels {
				position: absolute;
				top: -20px;
				right: -20px;
				.label {
					display: inline-block;
					width: 50px;
					img {
						.border-radius(50px);
						.box-shadow(0 0 12px fade(#000,50));
						border: 3px solid #fff;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
					}
				}
			}
		}
		h2 {
			text-transform: uppercase;
			font-size: 24px;
			line-height: 27px;
			min-height: 54px;
			font-weight: 600;
			margin: 0 0 12px;
			color: @c2;
			&:hover{
				color: @c3;
			}
			@media @ud {
				font-size: 20px;
			}
			@media @ud, @md, @sm, @xs {
				font-size: 18px;
			}
			@media @xxs {
				min-height: 0;
			}
		}
		p {
			margin: 0 0 12px;
		}
		.price {
			float: right;
			font-size: 28px;
			line-height: 1;
			margin: 8px 8px 0;
			white-space: nowrap;
			color: @c3;
		}
		.nav {
			.btn;
			padding: 0;
			float: left;
			span {
				color: #fff;
				text-decoration: none;
				display: block;
				padding: 0 12px;
				&:before{
					.fi;
					content: '\e817';
					font-weight: normal;
					font-size: 22px;
					float: left;
					margin: 0 8px 0 0;
				}
			}
		}
	}
}
.mod_custom-products {
	clear: both;
	margin: 0 0 100px;
	&>nav {
		text-align: right;
		margin: 0 0 30px;
		@media @md, @sm, @xs {
			text-align: center;
		}
		a {
			.fh;
			text-transform: uppercase;
			font-size: 21px;
			line-height: 1.1;
			font-weight: bold;
			display: inline-block;
			text-decoration: none;
			color: @c3;
			&:hover{
				color: @c2;
			}
			&:before{
				.fi;
				content: '\e81a';
				float: right;
				font-size: 24px;
				margin: 0 0 0 20px;
				font-weight: normal;
			}
		}
	}
}
.mod_custom-contact {
	float: left;
	width: 32%;
	padding: 0 20px 0 0;
	margin: 0 0 0 25%;
	font-size: 15px;
	@media @ud {
		width: 42%;
	}
	@media @md, @sm, @xs {
		position: relative;
		margin: 0 0 50px;
		width: 100%;
	}
	a {
		color: @c1;
	}
	.mod-title {
		.fh;
		position: relative;
		color: #fff;
		font-weight: 600;
		font-size: 28px;
		line-height: 1.2;
		padding: 0 0 0 32px;
		margin: 0 0 17px;
		&:before{
			.fi;
			content: '\e80e';
			position: absolute;
			left: 0;
			top: 50%;
			font-weight: normal;
			font-size: 24px;
			line-height: 1;
			margin: -10px 0 0;
		}
	}
	.col-left {
		display: inline-block;
		vertical-align: top;
		margin: 0 -4px 10px 0;
		padding: 0 20px 0 0;
		width: 40%;
		@media @md {
			width: 25%;
		}
		@media @sm, @xs {
			width: 50%;
			display: block;
		}
		@media @xxs {
			width: 100%;
		}
	}
	.col-right {
		display: inline-block;
		vertical-align: top;
		width: 60%;
		margin: 0 0 10px;
		@media @md, @sm, @xs {
			width: 25%;
		}
		@media @sm, @xs {
			width: 50%;
			display: block;
		}
		@media @xxs {
			width: 100%;
		}
	}
	address {
		font-style: normal;
		line-height: 2;
		mark {
			font-weight: bold;
			font-size: 20px;
		}
	}
	ul {
		.rul;
		li {
			.rli;
			line-height: 1.2;
			margin: 12px 0 13px;
		}
	}
	.open {
		font-size: 16px;
		color: #fff;
	}
	.map {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 27.5%;
		overflow: hidden;
		@media (max-width: 1750px) { width: 25%; }
		@media (max-width: 1650px) { width: 22%; }
		@media @md, @sm, @xs {
			width: 48%;
			left: auto;
			right: 0;
		}
		@media @xxs {
			position: relative;
			width: 100%;
			padding: 0 0 50%;
			margin: 20px 0 0;
		}
		&:before{
			position: absolute;
			z-index: 1;
			content: '';
			width: 40px;
			top: 0;
			right: 0;
			bottom: 0;
			background: url(../images/bg/02.png) no-repeat;
			-webkit-background-size: 100% 100%;
			-moz-background-size: 100% 100%;
			background-size: 100% 100%;
			@media @md, @sm, @xs {
				display: none;
			}
		}
		iframe {
			border: 0;
			position: absolute;
			top: -100%;
			left: -100%;
			width: 300%;
			height: 300%;
		}
	}
}
.mod_menu-bottom {
	float: left;
	width: 19%;
	padding: 0 20px 0 0;
	@media @ud {
		width: 33%;
	}
	@media @md, @sm, @xs {
		width: 52%;
	}
	@media @xxs {
		width: 100%;
		margin: 0 0 30px;
	}
	.mod-title {
		.fh;
		position: relative;
		color: #fff;
		font-weight: 600;
		font-size: 28px;
		line-height: 1.2;
		padding: 0 0 0 32px;
		margin: 0 0 30px;
		&:before{
			.fi;
			content: '\e80d';
			position: absolute;
			left: 0;
			top: 50%;
			font-weight: normal;
			font-size: 24px;
			line-height: 1;
			margin: -10px 0 0;
		}
	}
	ul {
		.rul;
		li {
			.rli;
			padding: 0 0 0 19px;
			margin: 0 0 15px;
			font-size: 14px;
			line-height: 1.2;
			font-weight: bold;
			@media @xxs {
				display: inline-block;
				margin: 0 10px 5px 0;
			}
			&:before{
				content: '\e815';
				font-weight: normal;
				color: @c3;
			}
			a {
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_xnewsletter {
	float: left;
	width: 24%;
	padding: 0 50px 0 0;
	font-size: 15px;
	line-height: 1.55;
	@media @ud {
		margin: 30px 0 0 25%;
		width: 75%;
	}
	@media @md, @sm, @xs {
		width: 48%;
		padding-right: 0;
	}
	@media @xxs {
		width: 100%;
	}
	.mod-title {
		.fh;
		position: relative;
		color: #fff;
		font-weight: 600;
		font-size: 28px;
		line-height: 1.2;
		padding: 0 0 0 32px;
		margin: 0 0 20px;
		&:before{
			.fi;
			content: '\e818';
			position: absolute;
			left: 0;
			top: 50%;
			font-weight: normal;
			font-size: 24px;
			line-height: 1;
			margin: -10px 0 0;
		}
	}
	.content {
		@media @ud {
			float: left;
			width: 59%;
			padding: 0 40px 0 0;
		}
	}
	form {
		padding: 0 95px 0 0;
		@media @ud {
			float: left;
			width: 41%;
		}
	}
	[type="text"], [type="email"] {
		position: relative;
		z-index: 1;
		float: left;
		margin: 0 -110px 0 0;
		border-color: transparent;
		&:hover, &:focus {
			border-color: @c3;
		}
	}
	button {
		padding: 0 0 0 20px;
		width: 110px;
		left: 95px;
	}
}
.mod_menu-footer {
	ul {
		.rul;
		text-align: center;
		margin: 0 0 20px;
		li {
			.rli;
			display: inline-block;
			font-size: 13px;
			margin: 0 5px;
			text-transform: uppercase;
			a {
				text-decoration: none;
				color: @c3;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_breadcrumbs {
	position: relative;
	top: -37px;
	margin: 0 0 -13px;
	@media @sm, @xs {
		top: 0;
		margin: 0 0 40px;
	}
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			vertical-align: middle;
			padding: 0 0 0 24px;
			margin: 0 16px 0 0;
			font-size: 17px;
			text-transform: uppercase;
			color: @c3;
			font-weight: bold;
			&:before{
				content: '\e815';
				font-weight: normal;
				top: 5px;
				color: @c5;
			}
			&.home {
				font-size: 0;
				padding: 0;
				&:before{
					display: none;
				}
				a {
					text-decoration: none;
					&:hover{
						text-decoration: none;
						color: @c3;
					}
					&:before{
						.fi;
						content: '\e80e';
						font-size: 22px;
					}
				}
			}
			a {
				color: @c1;
				font-weight: normal;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_custom-help {
	.border-radius(12px);
	.clearfix;
	padding: 60px 40px 10px;
	background: @c6;
	text-align: center;
	margin: 45px 0;
	@media @xs {
		padding: 30px 20px 1px;
	}
	.detail-description & {
		margin: 20px 0 40px;
		padding: 35px 40px;
	}
	.mod-title {
		.fh;
		font-size: 35px;
		line-height: 1.1;
		color: darken(@c2,10);
		font-weight: bold;
		margin: 0 0 50px;
		@media @xs {
			font-size: 28px;
		}
		.detail-description & {
			text-align: left;
			float: left;
			width: 46%;
			font-size: 27px;
			line-height: 1.3;
			margin: 0;
			@media @ud, @md, @sm, @xs {
				text-align: center;
				float: none;
				width: auto;
				margin: 0 0 20px;
			}
		}
	}
	.phone, .mobile, .email {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		font-size: 28px;
		line-height: 1;
		white-space: nowrap;
		color: @c3;
		padding: 0 0 0 82px;
		margin: 0 24px 50px;
		@media @xs {
			font-size: 18px;
			padding: 0 0 0 60px;
		}
		.detail-description & {
			float: left;
			width: 54%;
			font-size: 23px;
			margin: 6px 0 16px;
			padding-left: 62px;
			@media @ud, @md, @sm, @xs {
				float: none;
				width: auto;
			}
		}
		&:before{
			.fi;
			.border-radius(50%);
			content: '\e809';
			position: absolute;
			top: 50%;
			left: 0;
			width: 64px;
			height: 64px;
			line-height: 62px;
			font-size: 34px;
			margin: -32px 0 0;
			border: 1px solid @c3;
			@media @xs {
				width: 48px;
				height: 48px;
				line-height: 46px;
				font-size: 20px;
				margin: -24px 0 0;
			}
			.detail-description & {
				width: 52px;
				height: 52px;
				line-height: 50px;
				font-size: 20px;
				margin: -26px 0 0;
			}
		}
		a {
			color: @c3;
		}
	}
	.mobile {
		&:before{
			content: '\f10b';
			font-size: 44px;
		}
	}
	.email {
		&:before{
			content: '\f109';
			font-size: 38px;
		}
	}
}
.detail-image {
	.clearfix;
	float: left;
	width: 58%;
	padding: 24px 80px 25px 0;
	@media @ud, @md {
		width: 45%;
		padding-right: 30px;
	}
	@media @sm, @xs {
		float: none;
		width: auto;
		padding-right: 0;
	}
	figure {
		margin: 0 0 12px;
		@media @sm, @xs {
			float: left;
			width: 66.6666%;
		}
		@media @xxs {
			float: none;
			width: auto;
		}
		img {
			display: block;
		}
	}
	.thumbnails {
		.rul;
		.clearfix;
		margin: 0 -8px;
		@media @sm, @xs {
			float: left;
			margin: 0;
			width: 33.3333%;
		}
		@media @xxs {
			float: none;
			margin: 0 -8px;
			width: auto;
		}
		li {
			.rli;
			float: left;
			width: 25%;
			padding: 0 8px 12px;
			@media @sm, @xs {
				width: 50%;
				padding: 0 0 12px 16px;
			}
			@media @xxs {
				padding: 0 8px 12px;
			}
			img {
				display: block;
			}
		}
	}
}
.detail-description {
	float: left;
	width: 42%;
	@media @ud, @md {
		width: 55%;
	}
	@media @sm, @xs {
		float: none;
		width: auto;
	}
	.more {
		margin: -10px 0 20px;
	}
	.options {
		margin: 48px 0 30px;
		table {
			width: 100%;
			th, td {
				padding: 0 0 10px;
				vertical-align: middle;
				@media @xxs {
					display: block;
					width: auto;
				}
			}
			th {
				.fh;
				text-transform: uppercase;
				width: 30%;
				font-size: 18px;
				color: @c3;
			}
		}
	}
	.price {
		.border-radius(6px);
		padding: 33px 40px;
		background: @c7;
		table {
			width: 100%;
			th, td {
				font-weight: normal;
				padding: 0 0 15px;
				vertical-align: bottom;
				@media @xxs {
					display: block;
					width: auto;
					padding: 0;
				}
			}
			th {
				width: 30%;
			}
			td {
				@media @xxs {
					padding-bottom: 20px;
				}
			}
			td {
				mark {
					.fh;
					display: inline-block;
					font-size: 28px;
					line-height: 1;
					color: @c2;
					strong {
						font-size: 36px;
						font-weight: 800;
					}
				}
			}
		}
	}
	.basket {
		margin: 7px ;
		[type="text"], [type="number"] {
			width: 20%;
			@media @xxs {
				width: 80%;
			}
		}
		label {
			display: inline-block;
			margin: 0 17px 0 8px;
			@media @xxs {
				width: 20%;
				text-align: center;
				margin: 0 0 0 -4px;
				font-size: 20px;
			}
		}
		button {
			display: inline-block;
			height: 60px;
			line-height: 60px;
			font-weight: bold;
			font-size: 24px;
			padding: 0 20px;
			@media @xxs {
				display: block;
				width: 100%;
				margin: 20px 0 0;
			}
			span {
				&:after{
					.fi;
					content: '\e80d';
					font-weight: normal;
					font-size: 28px;
					margin: 0 0 0 10px;
				}
			}
		}
	}
}
.detail-panes {
	margin: 30px 0;
	.tabs {
		.rul;
		.clearfix;
		border-bottom: 6px solid @c2;
		@media @xs {
			border-bottom: none;
		}
		li {
			.rli;
			float: left;
			margin:  0 0 0 17px;
			@media @xs {
				float: none;
				margin: 0 0 20px;
			}
			&.cycle-pager-active {
				a {
					color: @c2;
					background: #fff;
					border-color: @c2;
					&:before{
						background: #fff;
					}
				}
			}
			a {
				.fh;
				.border-radius(6px 6px 0 0);
				text-decoration: none;
				text-transform: uppercase;
				display: block;
				font-size: 18px;
				line-height: 1;
				font-weight: 800;
				color: fade(@c1,40);
				background: @c6;
				padding: 25px 40px 15px;
				border: 6px solid @c5;
				border-bottom: none;
				text-align: center;
				@media @xs {
					.border-radius(0);
					border: 6px solid @c5;
					padding: 20px;
				}
				&:before{
					content: '';
					position: absolute;
					top: 100%;
					left: 6px;
					right: 6px;
					height: 6px;
				}
			}
		}
	}
	.pane {
		padding: 40px;
		@media @xs {
			padding: 0;
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		.border-radius(50%);
		.box-shadow(-2px 0 0 fade(#000,30));
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @c3;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e816';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}

.mod_custom-video { 
	.clearfix;
	margin: 0 0 50px;
	.mod-content { 
		float: left;
		width: 50%;
		padding: 0 50px 0 0;
		line-height: 1.8;
		@media @xs {
			width: 100%;
			padding: 0;
			float: none;
		}
 	}

	.mod-video { 
		float: left;
		width: 50%;
		padding: 10px 0 10px 10px;
		@media @xs {
			width: 100%;
			float: none;
		}
		a { 
			display: block;
			position: relative;
			text-decoration: none;
			&:before {
				.fi;
				.transition(0.2s);
				content: '\f144';
				position: absolute;
				top: 50%;
				left: 50%;
				font-size: 120px;
				width: 120px;
				height: 120px;
				line-height: 120px;
				text-align: center;
				margin: -60px 0 0 -60px;
				color: #fff;
				text-shadow: 0 0 6px fade(#000,50);
			}
			&:hover{
				&:before {
					color: @c2;
				}
			}
			img { 
				display: block;
			}
		}
	}
}

.mod_menu-categories { 

	ul { 
		.rul;
		text-align: center;
		margin: 0 -10px;
		@media @ud, @sm {
			margin: 0 112px;
		}
		@media (max-width:600px) {
			max-width: 320px;
			margin: auto;
		}
		li { 
			.rli;
			display: inline-block;
			vertical-align: top;
			width: 25%;
			margin: 0 -2px 68px;
			padding: 0 10px;
			@media @ud, @sm, @xs {
				width: 50%;
			}
			@media (max-width:600px) {
				width: 100%;
			}
			a { 
				.border-radius(12px 12px 0 0);
				.transition(0.2s);
				position: relative;
				z-index: 1;
				display: block;
				padding: 34px 20px 0;
				text-decoration: none;
				color: @c1;
				background: fade(@c5,20);
				&:hover{
					background: @c6;
				}
				h2 { 
					color: @c3;
					font-weight: 900;
					text-transform: uppercase;
					font-size: 26px;
					margin: 0 0 15px;
				}

				p { 
					margin: 0 10% 25px;
					line-height: 19px;
					min-height: 38px;
				}

				figure { 
					margin: 0 -20px;
					img { 
						display: block;
					}
				}
			}
			&.act { 
				&:before {
					.border-radius(0 0 12px 12px);
					top: 100%;
					left: 10px;
					right: 10px;
					height: 22px;
					margin: -12px 0 0;
					background: @c2;
					@media @md, @sm, @xs {
						display: none;
					}
				}
				&:after {
					content: '';
					position: absolute;
					top: 100%;
					left: 50%;
					border: 120px solid transparent;
					border-bottom-width: 0;
					border-top: 30px solid @c2;
					margin: 10px 0 0 -123px;
					width: 6px;
					-webkit-box-sizing: initial;
					-moz-box-sizing: initial;
					box-sizing: initial;
					@media @md, @sm, @xs {
						display: none;
					}
				}
				a { 
					.border-radius(12px);
					padding-bottom: 34px;
					background: @c6;
					&:before {
						content: '';
						position: absolute;
						top: 100%;
						left: 50%;
						border: 120px solid transparent;
						border-bottom-width: 0;
						border-top: 30px solid @c6;
						margin: 0 0 0 -123px;
						width: 6px;
						-webkit-box-sizing: initial;
						-moz-box-sizing: initial;
						box-sizing: initial;
						@media @md, @sm, @xs {
							border-left-width: 50px;
							border-right-width: 50px;
							margin-left: -53px;
						}
					}
				}
			}
		}
	}
}
.mod_menu-buttons {
	margin: 0 0 36px;
	ul {
		.rul;
		text-align: center;
		margin: 0 -10px;
		li {
			.rli;
			display: inline-block;
			vertical-align: top;
			width: 25%;
			margin: 0 -2px;
			padding: 0 10px;
			@media @xs {
				width: 50%;
			}
			@media (max-width:420px) {
				width: 100%;
			}
			a {
				.fh;
				.border-radius(8px);
				.transition(0.2s);
				display: block;
				text-decoration: none;
				color: @c3;
				font-size: 26px;
				line-height: 1.1;
				padding: 28px;
				margin: 0 0 20px;
				border: 1px solid @c6;
				&:hover{
					border-color: @c3;
				}
			}
			&.act {
				a {
					color: @c2;
					background: @c6;
				}
			}
		}
	}
}

.mod_custom-gallery { 
	.clearfix;
	h2 { 
		text-transform: uppercase;
		font-size: 24px;
		font-weight: 600;
		color: @c2;
		margin: 0 0 15px;
	}
	.mod-title {
		.fh;
		font-size: 35px;
		line-height: 1.2;
		font-weight: 600;
		color: @c2;
		margin: 0 0 20px;
	}
	.mod-content { 
		float: left;
		width: 50%;
		line-height: 1.8;
		padding: 0 50px 0 0;
		@media @ud, @md, @sm, @xs {
			width: 100%;
			padding: 0;
		}
	}

	.mod-gallery { 
		float: left;
		width: 50%;
		padding: 0 0 0 10px;
		@media @ud, @md, @sm, @xs {
			width: 100%;
		}
		.gallery {
			ul {
				li {
					width: 33.3333%;
					@media @ud, @md, @sm {
						width: 25%;
					}
					@media @xs {
						width: 33.3333%;
					}
					@media (max-width:600px) {
						width: 50%;
					}
					@media (max-width:420px) {
						width: 100%;
					}
				}
			}
		}
	}
	.gallery { 
		margin: 0 0 10px;
		ul { 
			.rul;
			margin: 0 -10px;
			li { 
				.rli;
				display: inline-block;
				vertical-align: middle;
				width: 16.6666%;
				margin: 10px -2px;
				padding: 0 10px;
				@media @ud, @md, @sm {
					width: 25%;
				}
				@media @xs {
					width: 33.3333%;
				}
				@media (max-width:600px) {
					width: 50%;
				}
				@media (max-width:420px) {
					width: 100%;
				}
				a { 
					display: block;
					position: relative;
					overflow: hidden;
					text-decoration: none;
					color: #fff;
					img { 
						display: block;
						position: relative;
					}
					span {
						.transition(0.2s);
						position: absolute;
						bottom: 100%;
						left: 0;
						right: 0;
						padding: 10px 15px;
						font-size: 14px;
						text-align: center;
						background: fade(@c3,80);
						&:before {
							content: '';
							position: absolute;
							bottom: 100%;
							left: 0;
							right: 0;
							height: 999em;
							background: fade(@c3,80);
						}
					}
					&:hover{
						span {
							bottom: 0;
						}
					}
				}
			}
		}
	}
}