
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-user-add:before { content: '\e80a'; } /* '' */
.icon-logout:before { content: '\e80b'; } /* '' */
.icon-search:before { content: '\e80c'; } /* '' */
.icon-basket:before { content: '\e80d'; } /* '' */
.icon-home:before { content: '\e80e'; } /* '' */
.icon-menu:before { content: '\e80f'; } /* '' */
.icon-docs:before { content: '\e810'; } /* '' */
.icon-login:before { content: '\e811'; } /* '' */
.icon-thermometer:before { content: '\e812'; } /* '' */
.icon-down-open-big:before { content: '\e813'; } /* '' */
.icon-left-open-big:before { content: '\e814'; } /* '' */
.icon-right-open-big:before { content: '\e815'; } /* '' */
.icon-up-open-big:before { content: '\e816'; } /* '' */
.icon-plus-circled:before { content: '\e817'; } /* '' */
.icon-paper-plane:before { content: '\e818'; } /* '' */
.icon-check:before { content: '\e819'; } /* '' */
.icon-th-large:before { content: '\e81a'; } /* '' */
.icon-th:before { content: '\e81b'; } /* '' */
.icon-th-list:before { content: '\e81c'; } /* '' */
.icon-cancel:before { content: '\e81d'; } /* '' */
.icon-user:before { content: '\e81e'; } /* '' */
.icon-cancel-1:before { content: '\e81f'; } /* '' */
.icon-minus-circled:before { content: '\e820'; } /* '' */
.icon-left-open-mini:before { content: '\e821'; } /* '' */
.icon-right-open-mini:before { content: '\e822'; } /* '' */
.icon-up-open-mini:before { content: '\e823'; } /* '' */
.icon-down-open-mini:before { content: '\e824'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */